

.searchWfull{
	width: calc(100% - 15px);
	margin-left: 3px;
	margin-right: 3px;
	padding: 0;
}
.searchWthird{
	width: calc(33% - 29px);
	margin-left: 3px;
	margin-right: 3px;
	padding: 0;
}
.searchWthird2{
	width: calc(33% - 5px);
	margin-left: 3px;
	margin-right: 3px;
	padding-top: 9px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	height: 45px;
}
.searchWthird2 > button {
	width: 95%;
}
.searchElement {
}
.searchElement > label {
	margin-bottom: 2px;
}
.searchRowBox {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.searchRow1 {
	height: 180px;
}
#searchSetting {
	width: 67%;
	padding-top: 6px;
	padding-left: 6px;
}
#searchCheckboxes {
	width: 31%;
	padding-top: 6px;
	padding-right: 6px;
}
.searchCol1 {
	width: 40% !important;
}
.searchCol2 {
	width: 29% !important;
}
#searchSettingsLeft {
	width: 55%;	
}
#searchSettingsRight {
	width: 45%;
}
#searchSettingsRightTop {
}
#searchSettingsRightBottom {
	margin-top: 24px;
}
.searchSettingsHeadline {
    padding-left: 4px;
    padding-bottom: 11px;
}
.searchSettingButton {
	width 11%;
	font-size: 100%;
	margin-right: 6px;
}
