
#explistContainer {
	margin-top:15px;
	font-size: 75%;
}
.explistControl{
	margin-bottom: 15px;
	margin-left: 10px;
}





#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}
/*#339900;
#expList {
	padding-left:10px;
	clear: both;
}*/
#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 4px;
    padding-left: 17px;
    background-repeat: no-repeat;
}

/* Collapsed state for list element */
#expList .collapsed {
    background-image: url("../img/collapsed.png");
}
/* Expanded state for list element
  NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url("../img/expanded.png");
}

.smalldiv {
	width: 300px;
}

.fpentry {
	color: #777;
	font-style: italic;
}	
.fplink, .fplink:hover, .fplink:focus, .fplink:active {
	color: #777;
	font-style: italic;
}
.treelink, .treelink:hover, .treelink:focus, .treelink:active {
	color: #000;
	font-style: normal;
}
