
/* Header --------------------------------- */

#headerTop {
	background-color: #00203f;
}
#headerNavi {
	background-color: #0053a1;
}
#headerNaviLeft {
	background-color: #0053a1;
}
#headerNaviRight {
	background-color: #0053a1;
}
.headerNaviLinkActive {
	background-color: #a10053 !important;
	box-shadow: 0 0 15px rgba(179, 134, 0, 0.3) inset !important;
	color: #ffffff !important;
	text-shadow: 2px 2px 7px #002b53 !important;
}
nav.headerNaviNav {
	background-color: #0053a1;
}
nav.headerNaviNav ul li {
	background-color: #0053a1;
}
nav.headerNaviNav a:hover:not(.headerNaviLinkActive) { 
	background-color: #003566; 
	box-shadow: 0 0 15px rgba(102, 102, 153, 0.3) inset;
	text-shadow: 2px 2px 7px #002b53;
}


/* Input Form Elements--------------------- */

.buttonlike {
	background: #0053a1 none repeat scroll 0 0;
	box-shadow: 0 0 15px rgba(26, 77, 0, 0.3) inset;
	text-shadow: 2px 2px 7px #003300;
}
.buttonlike:hover {
	background-color: #00006b;
	box-shadow: 0 0 15px rgba(51, 204, 0, 0.3) inset;
	text-shadow: 2px 2px 7px #003300;
}
/* #6FACD7 */
.emphasized {
	background: #a10053 repeat scroll 0 0 !important;
	box-shadow: 0 0 15px rgba(129, 103, 0, 0.3) inset !important;
	color: #FFFFFF !important;
	text-shadow: 2px 2px 7px #5f004a !important;
}
/* #880064 */ 

/* Tables --------------------------------- */

table.tablesorter th {
	background-color: #0053a1;
}
table.tablesorter th.tablesorterThAsc {
    background-color: #a10053;
}
table.tablesorter th.tablesorterThDesc {
    background-color: #a10053;
}
table#sortable tr:nth-child(2n) {
    background-color: #dceeff;
}



/* Special Elements ----------------------- */

.light {
	background-color: #dceeff;
}
.emph {
	color: #880064;
	font-weight: bold;
}
a.plotLink {
   color: #880064;
}
a.plotLink:hover {
   color: #a10053;
}

