
/* Messages ------------------------------- */

div.msg {
	width: 1024px;
	margin: 10px auto; 
	padding: 5px;
	border: 1px solid lightgrey;      
	background: white none repeat scroll 0 0;
	font-size: 100%;
	overflow-x: auto;
}
div.msginfo {
	border: 3px solid darkgrey;
	background: lightgrey none repeat scroll 0 0;
}
div.msgsuccess {
	border: 3px solid darkgreen;
	background: lightgreen none repeat scroll 0 0;
}
div.msgwarning {
	border: 3px solid darkorange;
	background: orange none repeat scroll 0 0;
}
div.msgerror {
	border: 3px solid darkred;
	background: indianred none repeat scroll 0 0;
}



