#displayequipTable {
	height: auto;
/*	height: 3000px;*/
}
#displayequipColumnLeft {
	width : calc(22% - 2px);
	height: calc(100% - 2px);
	text-align: left;
	/*overflow: auto;*/
}
#displayequipColumnCenter {
	width: calc(59% - 2px);
	height: calc(100% - 2px);
}
#displayequipColumnRight {
	width: calc(19% - 2px);
	height: calc(100% - 2px);
}
#displayequipRow1{
	height: 88px;
/*	height: calc(8% - 2px); */
}
/*
#displayequipRow1Col1{
	width: calc(27% - 2px);
}
#displayequipRow1Col2{
	width: calc(20% - 2px);
}
#displayequipRow1Col3{
	width: calc(15% - 2px);
}
#displayequipRow1Col4{
	background-color:#ffffff;
	width: calc(7% - 2px);
}
#displayequipRow1Col5{
	background-color:#ffffff;
	width: calc(31% - 2px);
}
*/
#displayequipRow2{
	height: 78px;
/*	height: calc(6% - 2px); */
}
#displayequipRow3{
	height: 78px;
/*	height: calc(6% - 2px); */
}
#displayequipRow4{
	height: 78px;
/*	height: calc(6% - 2px); */
	overflow: auto;
	text-align: left;
}
#displayequipRow5{
	height: 78px;
/*	height: calc(6% - 2px); */
	overflow: auto;
	text-align: left;
}
#displayequipRow5Col1{
	width: calc(22% - 2px);
	overflow: auto;
}
#displayequipRow5Col2{
	width: calc(20% - 2px);
	overflow: auto;
}
#displayequipRow5Col3{
	width: calc(25% - 2px);
	overflow: auto;
}
#displayequipRow5Col4{
	width: calc(33% - 2px);
	overflow: auto;
}
#displayequipRow6{
	height: auto;
	overflow: auto;
	text-align: left;	
}
#displayequipRow6 > label {
	margin-left: 7px;
}
/*
#midadd3 .desc{
	display: none;
	width: 100%;
	text-align: center;
}
#histEvents{
	display: none;
}
*/
#displayequipRow7{
	/* height: calc(23% - 2px); */
	height: auto;
	overflow: auto;
	text-align: left;
}
#displayequipRow7 > label {
	margin-left: 7px;
}
/*
#mid4 .desc{
	display: none;
	width: 100%;
	text-align: center;
}
*/
#displayequipRow8{
	/* height: calc(15% - 2px); */
	height: auto;	
	overflow: auto;
	text-align: left;
}
#displayequipRow8 > label {
	margin-left: 7px;
}
/*
#rcb .desc{
	display: none;
	width: 100%;
	text-align: center;
}
*/
#displayequipRow9{
	/* height: calc(27% - 2px); */
	height: auto;
	overflow: auto;
	text-align: left;
}
#displayequipRow9 > label {
	margin-left: 7px;
}



input#orderref{
	width: 90%;
	height: 50%;
	font-size: 80%;
}
#displayequipFieldMtfId{
	font-size: 130%;
}


div#displayequipParents{
	overflow: auto;
	text-align: left;
}
div#displayequipParents > div{
	background-color: #EBEBEB;
}
div#displayequipChildren{
	display: block;	
	overflow: auto;
	text-align: left;
}
div#displayequipChildren > div{
	background-color: #EBEBEB;
}
div#displayequipParChilLabel {
	width: calc(12% - 2px);
	min-height: 98px;
	border: none;
}
div#displayequipParChilBody {
	width: calc(88% - 2px);
	overflow: auto;
	text-align: left;
}
div#displayequipBatch{
	height: calc(46px - 2px);
}

div.ncf_non-conform {
	background-color: #ff2c00;
	box-shadow: 0 0 10px rgba(80, 80, 80, 0.3) inset;
}
div.ncf_warning {
	background-color: #ffbf00;
	box-shadow: 0 0 10px rgba(80, 80, 80, 0.3) inset;
}
div.ncf_conform {
	background-color: #339900;
	box-shadow: 0 0 10px rgba(80, 80, 80, 0.3) inset;
}
div.ncf_unknown {
	background-color: #808080;
	box-shadow: 0 0 10px rgba(80, 80, 80, 0.3) inset;
}
div.type_Batch {
	background-color: #00cccc;
	box-shadow: 0 0 10px rgba(120, 120, 120, 0.3) inset;
}
div.type_Item {
	background-color: #6684c1;
	box-shadow: 0 0 10px rgba(120, 120, 120, 0.3) inset;
}
div.type_Subbatch {
	background-color: #99eaea;
	box-shadow: 0 0 10px rgba(120, 120, 120, 0.3) inset;
}
div.type_Group {
	background-color: #003399;
	box-shadow: 0 0 10px rgba(120, 120, 120, 0.3) inset;
}
div#displayequipSub {
	height: auto;
	overflow: auto;
	text-align: left;
}
div#displayequipOrigin {
	height: calc(85px - 2px);
	overflow: auto;
	text-align: left;
	font-size: 80%;
	vertical-align: middle;
	display: block;
	color: #808080;
}
div#displayequipWorkflow {
	height: calc(502px - 2px);
	text-align: left;
}
input.invisreadonly.batch {
	background: none repeat scroll 0 0;
	box-shadow: none;
	color: #ffffff;
	font-size: 110%;
	text-align:center;
	text-shadow: 2px 2px 7px #606060;
	width: 90%;
	margin: 5px;
	padding: 3px 0px;
	text-indent: 0.01px;
}
