#registerHeader1 {
	text-align: left;
	width: calc(45% - 2px);
	padding: 1%;
	height: 30px;
}
#registerHeader2 {
	text-align: left;
	width: calc(40% - 2px);
	padding: 1%;
	height: 30px;
}
#registerHeader3 {
	display: none;
	/*width: calc(20% - 2px);*/
	text-align: left;
	padding: 1%;
	height: 30px;
}
#registerTypeLabel{
	display:inline; 
	color:grey; 
	font-size:95%; 
	margin-left:1em;
}
