#rangesTable table {
	width: 100%;
	max-height: 400px;
	display: ;
	overflow-x: auto;
}
#rangesTable table .rangesTotalCount {
	background-color: #CCCCCC;
	font-family: courier;
	font-weight: bold;
}
#rangesTable table .rangesTotalCountCell {
	text-align: right;
	padding-right: 1.5%;
}
#rangesTable table .rangesLegend {
	background-color: #FFFFFF;	
}
#rangesTable table .rangesLegend .rangesLegendArrow {
	background-image: url("../img/arrow_ltr.png");
	background-repeat: no-repeat;
	background-position: center top; center;
}
#rangesTable select {
	margin: 3px 0;
	font-size: 90%;	
}
#rangesTable input {
	margin: 3px 6px;
	font-size: 90%;	
}
