<!DOCTYPE html>
<html lang="en-us">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE">
<meta charset="utf-8">
$refresh
<title>$title</title>
<link rel="stylesheet" href="stylesNew/index.css">
<link rel="stylesheet" href="stylesNew/vb.css">
<script type="text/javascript" src="jsNew/all.js"></script>
</head>
<body>
<form id="mainform" name="mainform" method="POST" action="index.php" enctype="multipart/form-data">
<input type="hidden" name="sessId" value="$sessId">
<input type="hidden" name="do"     value=""       >
$debug
$messages
$content
</form>
</body>
</html>
