<table class="workflow">
	<tr><td width="25%"><img src='$imagepath1'  alt='green button'/></td> <td>ordered                     </td></tr>
	<tr><td            ><img src='$imagepath2'  alt='green button'/></td> <td>delivered                   </td></tr>
	<tr><td            ><img src='$imagepath3'  alt='green button'/></td> <td>checked1                    </td></tr>
	<tr><td            ><img src='$imagepath4'  alt='green button'/></td> <td>checked2                    </td></tr>
	<tr><td            ><img src='$imagepath5'  alt='green button'/></td> <td>checked3                    </td></tr>
	<tr><td            ><img src='$imagepath28' alt='green button'/></td> <td>checked4                    </td></tr>
	<tr><td            ><img src='$imagepath6'  alt='green button'/></td> <td>waiting for distribution    </td></tr>
	<tr><td            ><img src='$imagepath7'  alt='green button'/></td> <td>under distribution          </td></tr>
	<tr><td            ><img src='$imagepath8'  alt='green button'/></td> <td>distributed                 </td></tr>
	<tr><td            ><img src='$imagepath9'  alt='green button'/></td> <td>temporary exportation closed</td></tr>
	<tr><td            ><img src='$imagepath10' alt='green button'/></td> <td>final return completed      </td></tr>
	<tr><td            ><img src='$imagepath11' alt='green button'/></td> <td>assembled                   </td></tr>
	<tr><td            ><img src='$imagepath12' alt='green button'/></td> <td>closed                      </td></tr>
</table>
