<!--- style='display:inline; width:30px; padding-right:0;' --> 
<input class="invisiblelike" style="width:62px;" id='eqVersion' name='eqVersion' type='number' value='$eqVersion' min='0' max='$highestVersion' onblur="if(checkEqVersion()){submitIt('version')}" $eqVersionReadOnly > <label id='registerTypeLabel'>(max. = $highestVersion)</label> <button type="button" onclick="if(checkEqVersion()){submitIt('version')}" class="buttonlike flex" $eqVersionDisabled>&raquo;</button> 
