<input type="hidden" name="accessType" value="$accessType">
<input type="hidden" name="mtfId"      value="$mtfId"     id="mtfId" >
<div class="bbox simple"> 
	<div id="registerHeader1" class="nbox column wthird">
		Access Type: $accessTypeSel
	</div>
	<div id="registerHeader2" class="nbox column wthird">
		MTF ID: $mtfId
	</div>
	<div id="registerHeader3" class="nbox column wthird">
		EQ ID: $eqId
	</div>
</div> 
