<col style='width:4%;'><col style='width:10%;'><col style='width:14%;'><col style='width:16%;'><col style='width:10%;'><col style='width:7%;'><col style='width:7%;'><col style='width:16%;'><col style='width:16%;'>
