<div class='left'>
	OR: load equipment from past shipment-ID:
	<input class='invisiblelike' name='shipId' type='number' value='' min='1' max='99999' placeholder='#####'>
	<button type="button" class='buttonlike flex' onclick="submitIt('addShipId')">Load From Past Shipment</button>
</div>
<div class='clear'></div>
