<link rel="stylesheet" href="stylesNew/plots.css">
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
<script type='text/javascript' src='js/tab-ex/xlsx.core.min.js'></script>                                            
<script type='text/javascript' src='js/tab-ex/Blob.min.js'></script>
<script type='text/javascript' src='js/tab-ex/FileSaver.min.js'></script>
<script type='text/javascript' src='js/tab-ex/tableexport.min.js'></script>
$dbchoice
$header
$body
